
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333; /* Navbar linklerinin rengi */
    text-decoration: none;
}

nav ul li a:hover {
    color: #555; /* Hover etkisinde navbar linklerinin rengi */
}

main {
    padding: 20px;
}